@use './colors' as *;
@use './mixins' as *;

.offer {
    &__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__box {
		margin: 1em 0;
        border: 2px solid $white;
        border-radius: 3px;
		overflow: hidden;

		&-img {
			width: 100%;
		}

		&-content {
			padding: 2em;
			z-index: 10;
		}

		&-heading {
			margin-bottom: 0.5em;
            text-transform: uppercase;
            text-align: center;
			font-size: 2.4rem;
			font-weight: 300;
		}

		&-text {
			margin-bottom: 0.5em;
			font-size: 1.3rem;
		}

        &-link {
            display: block;
            padding: .5em 1em;
            margin: 1.5em auto 1em;
            width: 50%;
            border-radius: 3px;
            text-decoration: none;
            text-align: center;
            border: 2px solid $white;
            background: none;
            color: $white;
            transition: font-weight .2s, background-color .2s, color .2s;

            &:hover {
                font-weight: 600;
                background-color: $white;
                color: $black;
            }
        }
	}
}

@media (width >= 576px) {
    .offer {
		&__box {
			display: flex;
            flex-direction: row;
			margin: 2em 0;
			width: 100%;

			&-img {
				width: 50%;
				height: auto;

				&--right {
					order: 1;
				}
			}

			&-content {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				max-width: 70%;
			}

			&-heading {
				margin-bottom: 0.5em;
				font-size: 3.6rem;
			}

            &-text {
                text-align: justify;
            }
		}
	}
}

@media (width >= 992px) {
    .offer {
		&__box {
			&-img {
				object-fit: cover;
				height: 400px;
			}

			&-text {
				font-size: 1.5rem;
			}
		}
	}
}