@use './colors' as *;
@use './mixins' as *;
@use './components' as *;

.section__heading {
    margin-top: 4em;
}

.privacy-policy {
    &__heading {
        margin: 1em 0;
        font-size: 2rem;
    }

    &__text {
        margin: 0 .5em;
    }

    &__bold {
        font-weight: bold;
    }

    &__affiliate-link {
        margin: 3em 0 2.5em;
        font-size: 1.2rem;
        text-align: center;
    }

    &__link {
        color: $red;
        transform: color .2s;

        &:hover {
            color: $dark-red;
        }
    }
}



@media (width >= 768px) {
    .privacy-policy {
        &__heading {
            margin: 1em 0;
            font-size: 2.5rem;
        }
    
        &__list {
            margin: 0 1em;
    
            &--inside {
                margin: 0 2em;
            }
        }
    
        &__text {
            margin: 0 1em;
        }
    
        &__affiliate-link {
            margin-top: 3em;
            font-size: 1.2rem;
            text-align: center;
        }
    
        &__link {
            color: $red;
            transform: color .2s;
    
            &:hover {
                color: $dark-red;
            }
        }
    }
}